.container {
    display: flex;
    flex-direction: column;
}

.mtb-introduction {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    background-image: url('../../images/background-cycling.jpg');
    text-align: center;

}

.mtb-introduction h1 {
    text-transform: capitalize;
    text-align: center;
    background-image: url('../../images/background-cycling.jpg');
    width: 100%;
}

.mtb-introduction p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.my-gear {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    background-image: url('../../images/background-cycling.jpg');
}

.my-gear h3{
    text-align: center;
    background-image: url('../../images/background-cycling.jpg');
    width: 100%;
}

.my-gear-row{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.mtb-video-row{
    text-align: center;
    background-image: url('../../images/background-cycling.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
}

.mtb-video {
    height: 600px;
    width: 700px;
}