.head-column {
    display: flex;
    flex-direction: column;
}

.gym-introduction {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;

    }

.gym-introduction h1 {
    text-transform: capitalize;
    text-align: center;
    background-image: url('../../images/my-background.jpg');
    width: 100%;
}

.gym-intro-row{
    background-image: url('../../images/my-background.jpg');
}

.gym-picture{
    align-self: center;
}

.gym-explanation {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-equipment-row {
    background-image: url('../../images/my-background.jpg');
    border-style: solid;
    border-width: 1px;
}

.gym-equipment-row p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-equipment h3 {
    text-transform: capitalize;
        text-align: center;
        background-image: url('../../images/my-background.jpg');
        width: 100%;
}

.gym-shoes {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}

.gym-clothes {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}

.gym-clothes p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-clothing-row {
    background-image: url('../../images/my-background.jpg');
    border-style: solid;
    border-width: 1px;
}

.gym-clothing-row h3 {
    text-transform: capitalize;
    text-align: center;
    background-image: url('../../images/my-background.jpg');
    width: 100%;
}

.gym-video-div{
    background-image: url('../../images/my-background.jpg');
}

.gym-video-div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-video {
    height: 600px;
    width: 700px;
    text-align: center;
}

.gym-video-row{
    justify-content: center;
}

