.head-column {
    display: flex;
    flex-direction: column;
}

.gym-introduction {
    display: flex;
    flex-direction: column;

    }

.gym-introduction h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 70px;
    width: 100%;
    height: 120px;
}

.gym-intro-row{

}

.gym-picture{
    align-self: center;
}

.gym-explanation {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-equipment-row {
    column-gap: 20%;
    text-align: center;
    justify-content: center;
}

.gym-equipment-row p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-equipment-row h3 {
    text-transform: capitalize;
        text-align: center;
        width: 100%;
}


.gym-video-div{
    justify-content: center;
}

.gym-video-div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.gym-video {
    height: 600px;
    width: 700px;
    text-align: center;
}

.gym-video-row{
    text-align: center;
}

