.head-column{
    display: flex;
    flex-direction: column;
}

.tennis-introduction {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;

}

.tennis-intro-row{
    background-image: url('../../images/yellow-top-gradient-background.jpg');
}

.tennis-introduction h1 {
    text-transform: capitalize;
    text-align: center;
    background-image: url('../../images/yellow-top-gradient-background.jpg');
    width: 100%;

}

.tennis-explanation{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.tennis-gear {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}

.tennis-gear h3{
    text-transform: capitalize;
    text-align: center;
    background-image: url('../../images/yellow-top-gradient-background.jpg');
    width: 100%;
}

.tennis-gear p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.tennis-gear-row{
    background-image: url('../../images/yellow-top-gradient-background.jpg');
    border-style: solid;
    border-width: 1px;
}


.tennis-video {
    height: 600px;
    width: 700px;
}

.tennis-video-row{
    text-align: center;
    background-image: url('../../images/yellow-top-gradient-background.jpg');
}