.App {
  text-align: center;
}

.background {
  background-image:
      url("C: \Users\Hege\Downloads\AdobeStock_320014956.jpg");
    background-size: "cover";
    margin-top: -70px;
    background-repeat: no-repeat;
  
}